@tailwind base;
:root {
    --theme-background: 15, 23, 42;
    --theme-primary: 34, 211, 238;
    --theme-secondary: 100, 116, 139;
    --theme-accent: 244, 244, 244;
    --theme-white: 255, 255, 255;
    --theme-dark: 29, 31, 33;
    --theme-error: 255, 200, 200;
}
@tailwind components;
@layer components {
	.c-btn {
        @apply rounded-lg relative overflow-hidden flex items-center justify-center gap-1 px-6 disabled:opacity-80 disabled:pointer-events-none border transition-all duration-300;

        &.btn-primary-fill {
            @apply text-background bg-transparent bg-gradient-to-r from-primary to-primary border-primary before:absolute before:content-[''] before:top-0 before:right-0 before:w-2/3 before:h-full before:bg-gradient-to-l before:from-secondary/75 before:to-transparent before:transition-all before:duration-300 before:opacity-0 hover:before:opacity-100;

            * {
                @apply relative z-10;
            }
        }

        &.btn-dark-fill {
            @apply text-accent bg-transparent bg-gradient-to-r from-background to-background border-background before:absolute before:content-[''] before:top-0 before:right-0 before:w-2/3 before:h-full before:bg-gradient-to-l before:from-secondary/75 before:to-transparent before:transition-all before:duration-300 before:opacity-0 hover:before:opacity-100;

            * {
                @apply relative z-10;
            }
        }

        &.btn-sm {
            @apply h-10 text-sm font-medium;

            svg {
                @apply size-5;
            }
        }

        &.btn-md {
            @apply h-10 text-base font-medium;

            svg {
                @apply size-5;
            }
        }

        &.btn-full {
            @apply w-full;
        }

        &.btn-center {
            @apply justify-center;
        }
    }

    .c-form-group {
        @apply flex flex-col gap-1.5;

        .input {
            @apply w-full border border-transparent rounded-lg bg-background transition focus:outline-none px-2 text-base placeholder:text-secondary text-accent focus:border-white;
        }

        .text {
            @apply h-10;
        }
        
        .description {
            @apply h-40 py-2 resize-none;
        }

        .notif-row {
            @apply hidden text-xs font-normal items-center;
        }

        .notif {
            @apply flex items-center gap-1.5 text-accent bg-accent/10 px-3 py-1 rounded-xl border border-accent transition;
        }

        &.has-notif {
            .notif-row {
                @apply flex;
            }
        }
        
        &.has-error {
            .input {
                @apply border-error;
            }

            .notif-row {
                @apply flex;
            }

            .notif {
                @apply text-error bg-error/10 border-error;
            }
        }
    }
}

@tailwind utilities;

@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/estedad/regular.woff2") format("woff2");
}

@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/assets/fonts/estedad/medium.woff2") format("woff2");
}

@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/assets/fonts/estedad/bold.woff2") format("woff2");
}


html {
    @apply font-estedad;
    direction: rtl;
}

body {
    @apply bg-background text-white cursor-default;
}

.unique-title {
    @apply pb-3 before:absolute before:content-[''] before:h-1 before:w-16 before:rounded-sm before:bg-gradient-to-r before:from-primary before:to-secondary before:bottom-0 before:left-1/2 before:-translate-x-1/2;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(50%);
	}
}

@media screen and (min-width: 1024px) {
    .marquee-list:hover {
        .marquee {
            animation-play-state: paused;
        }
    }
}

.marquee {
    animation: scroll 25s linear infinite;
}