@import "tailwindcss";
@theme {
	--color-background: rgb(15,23,42);
	--color-primary: rgb(34,211,238);
	--color-secondary: rgb(100,116,139);
	--color-accent: rgb(244,244,244);
	--color-white: rgb(255,255,255);
	--color-dark: rgb(29,31,33);
	--color-error: rgb(255,200,200);

	--font-estedad: "Estedad";
}
@import "./style/components.css";

@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/estedad/regular.woff2") format("woff2");
}

@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/assets/fonts/estedad/medium.woff2") format("woff2");
}

@font-face {
	font-family: Estedad;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/assets/fonts/estedad/bold.woff2") format("woff2");
}

html {
    @apply font-estedad;
    direction: rtl;
}

body {
    @apply bg-background text-white cursor-default;
}

.unique-title {
    @apply pb-3 before:absolute before:content-[''] before:h-1 before:w-16 before:rounded-sm before:bg-gradient-to-r before:from-primary before:to-secondary before:bottom-0 before:left-1/2 before:-translate-x-1/2;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(50%);
	}
}

@media screen and (min-width: 1024px) {
    .marquee-list:hover {
        .marquee {
            animation-play-state: paused;
        }
    }
}

.marquee {
    animation: scroll 25s linear infinite;
}

.custom-html {
    @apply text-accent text-base leading-7;

	&>* {
		@apply mb-4 last:mb-0;
	}

	h2 {
		@apply text-xl mt-6 font-bold;
	}

	h3 {
		@apply text-lg mt-6 font-bold;
	}

	strong,
	b {
		@apply font-bold;
	}

	figure {
		&.wp-block-image {
			@apply py-2;

			img {
				@apply w-full;
			}

			.wp-element-caption {
				@apply text-center text-xs py-2;
			}
		}

		&.wp-block-gallery.has-nested-images {
			@apply flex flex-wrap gap-4 lg:gap-6 py-2;
			align-items: normal;

			figure.wp-block-image {
				@apply p-0 !w-[calc(50%-0.5rem)] lg:!w-[calc(33.33%-1rem)] grow;
			}
		}

		&.wp-block-video {
			@apply w-full;

			video {
				@apply w-full rounded-lg;
			}
		}

		&.wp-block-table {
			@apply overflow-auto;

		}
		
		&>img {
			@apply rounded-lg;
		}
	}

	table {
		@apply border-collapse min-w-96 w-full;

		tbody {
			tr {
				@apply relative;

				&:first-of-type {
					td {
						@apply bg-dark text-white text-xs font-bold border-l-white border-r-dark border-y-dark last:border-l-dark;
					}
				}

				&:nth-child(2n) {
					td {
						@apply bg-white;
					}
				}

				&:nth-child(2n+1):not(:first-of-type) {
					td {
						@apply bg-background;
					}
				}

				&:not(:first-of-type) {
					td {
						@apply border-dark text-sm font-normal;
					}
				}

				&:not(:first-of-type):hover {
					td {
						@apply bg-background;
					}
				}

				td {
					@apply p-2 transition;
				}
			}
		}
	}

	blockquote, .wp-block-quote {
		@apply py-4;

		p {
			@apply pr-4 text-base font-bold text-dark border-r-4 border-r-secondary;
		}

		cite {
			@apply mt-4 mr-4 text-primary text-sm font-medium not-italic;
		}
	}

	/* .wp-block-columns {
		@apply gap-4 lg:gap-6;

		& > :nth-child(2) {
			.wp-block-quote {
				p {
					@apply pr-0 pl-4 border-r-0 border-l-4 border-l-dark dark:border-l-white;
				}

				cite {
					@apply mr-0;
				}
			}
		}
	} */

	.wp-block-media-text {
		@apply flex flex-col md:flex-row md:items-center gap-4 lg:gap-6 text-right md:*:flex-1;

		* {
			direction: rtl;
		}

		.wp-block-media-text__content {
			@apply p-0;

            &>* {
                @apply mb-4 last:mb-0 first:mt-0;
            }
		}
	}

	.wp-block-spacer {
		@apply mb-0;
	}

	.wp-block-separator {
		@apply border-t-secondary;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	ol,
	ul {
		@apply space-y-1 list-inside;
	}

	p, li {
		a {
			@apply underline decoration-accent underline-offset-4 cursor-pointer;
		}
	}

	img {
		@apply rounded-lg;
	}

	.gallery {
		@apply flex items-start gap-4;

		&.gallery-columns-2 {
			figure.gallery-item {
				@apply p-0 !w-[calc(50%-0.5rem)] grow;
				img {
					@apply w-full;
				}
			}
		}

		&.gallery-columns-3 {
			@apply flex-wrap;
			
			figure.gallery-item {
				@apply p-0 !w-[calc(50%-0.5rem)] lg:!w-[calc(33.33%-1rem)] grow;
				img {
					@apply w-full;
				}
			}
		}

		&.gallery-columns-4 {
			@apply flex-wrap;
			
			figure.gallery-item {
				@apply p-0 !w-[calc(50%-0.5rem)] lg:!w-[calc(25%-1rem)] grow;
				img {
					@apply w-full;
				}
			}
		}
	}

	hr {
		@apply my-4 border-background;
	}
}